body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.loginBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/*HEADER*/
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginContainer {
    max-width: 400px;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 0.5rem 0;
}

.btn:hover {
    background: #0056b3;
}

/*TABLES*/
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.table th {
    background: #f4f4f4;
}

.actions a {
    margin-right: 0.5rem;
    color: #007bff;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/*BUTTONS*/
button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.approve {
    background-color: green;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.decline {
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.checkbox {
    display: flex;
    justify-content: space-between; /* Inverte l'ordine degli elementi */
    margin-bottom: 1rem;
}

.checkbox label {
    margin-right: -550px;
}
