<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="">
<head>
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body>
<div th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/homepage}">Homepage</a></li>
            <li><a th:href="@{/cars}">Parco Auto</a></li>
            <li><a th:href="@{/profile}">Profilo Utente</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/reservations}">Elenco Prenotazioni</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>

