<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Gestione Auto</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body>
<header>
    <h1>Catalogo Auto</h1>
    <div th:replace="fragments/header :: header"></div>
</header>
<div class="container">
    <h2>Lista Auto</h2>
    <a th:href="@{/addCar}" class="btn">Aggiungi Auto</a>
    <table class="table">
        <thead>
        <tr>
            <th>Auto</th>
            <th>Targa</th>
            <th sec:authorize="hasRole('ADMIN')"> Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="|${car.brand} ${car.model} (${car.year})|">Auto</td>
            <td th:text="${car.licensePlate}">Targa</td>
            <td sec:authorize="hasRole('ADMIN')" class="actions">
                <a th:href="@{/editCar/{id}(id=${car.id})}">Modifica</a>
                <a th:href="@{/deleteCar/{id}(id=${car.id})}"
                   onclick="return confirm('Cancellare questa prenotazione?');">Cancella</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
