<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Nuovo Utente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div class="form-container">
    <h2>Modifica Utente</h2>
    <form th:action="@{/editUser}" th:object="${user}" method="post">
        <label for="username">Username:<span class="required">*</span></label>
        <input type="text" id="username" th:field="*{username}" required/>
        <div th:if="${#fields.hasErrors('username')}" class="error-message">
            <span th:errors="*{username}">Username error</span>
        </div>

        <label for="password">Password:<span class="required">*</span></label>
        <input type="password" id="password" th:field="*{password}" required/>
        <div th:if="${#fields.hasErrors('password')}" class="error-message">
            <span th:errors="*{password}">Password error</span>
        </div>

        <label for="email">Email:<span class="required">*</span></label>
        <input type="email" id="email" th:field="*{email}" required/>
        <div th:if="${#fields.hasErrors('email')}" class="error-message">
            <span th:errors="*{email}">Email error</span>
        </div>

        <label for="userProfiles">Ruolo:<span class="required">*</span></label>
        <!--<select id="userProfiles" th:field="*{userProfiles}" required>-->
        <input type="text" id="userProfiles" th:field="*{userProfiles}" required/>
        <!--<option th:each="profile : ${roles}" th:value="${profile.type}" th:text="${profile.type}"></option>
        <div th:if="${#fields.hasErrors('userProfiles')}" class="error-message">
            <span th:errors="*{userProfiles}">Role error</span>
        </div>
    </select>-->

        <button type="submit">Salva Modifiche</button>
    </form>
</div>
</body>
</html>
