<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body class="loginBody">
<div class="loginContainer">
    <h1>Login</h1>
    <form th:action="@{/login}" th:method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <div class="checkbox">
            <label for="rememberme">Remember Me</label>
            <input type="checkbox" id="rememberme" name="remember-me">
        </div>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit">Login</button>
    </form>
</div>
<div th:if="${param.error}">
    <p>Credenziali non valide. Riprova.</p>
</div>

</body>
</html>
