<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parco Auto</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Parco Auto</h2>
<table>
    <thead>
    <tr>
        <th>Modello</th>
        <th>Marca</th>
        <th>Anno</th>
        <th>Disponibilità</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auto : ${autoList}">
        <td th:text="${auto.modello}"></td>
        <td th:text="${auto.marca}"></td>
        <td th:text="${auto.Anno}"></td>
        <td th:text="${auto.Disponibilità}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
