<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrazione Utente</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Registrazione Nuovo Utente</h2>
<form th:action="@{/admin/new-user}" th:method="post" th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>
    <br>
    <label for="role">Ruolo:</label>
    <select id="role" th:field="*{role}">
        <option value="CUSTOMER">CUSTOMER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <br>
    <button type="submit">Registra</button>
</form>
</body>
</html>